//////////////Custom select/////////////
.custom-select {
    border: none;
    display: inline-block;
    background: transperent;
    .custom-select__button {
        background: inherit;
        border: none;
    }
    .caret {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 2px;
        vertical-align: middle;
        background: url("../img/ui/dropdown_caret.png");
        border: none;
    }
}

//////////////Header-search////////////
.searchbox {
    display: inline-block;
    height: 18px;
    line-height: 52px;
    .searchbox-input {
        box-sizing: border-box;
        border: 1px solid $main-color_gray-light;
        width: 0px;
        display: none;
    }
}

.btn{
    border-radius: 4px;
    &.btn-blue{        
    color: white;
    border: none;
    background: #0066c0;
    background: -moz-linear-gradient(top, #0066c0 0%, #004e96 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #0066c0), color-stop(100%, #004e96));
    background: -webkit-linear-gradient(top, #0066c0 0%, #004e96 100%);
    background: -o-linear-gradient(top, #0066c0 0%, #004e96 100%);
    background: -ms-linear-gradient(top, #0066c0 0%, #004e96 100%);
    background: linear-gradient(to bottom, #0066c0 0%, #004e96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066c0', endColorstr='#004e96', GradientType=0 );

    }
    &.btn-blue:hover{
        background: #0073d7;
        background: -moz-linear-gradient(top, #0073d7 0%, #005bb0 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #0073d7), color-stop(100%, #005bb0));
        background: -webkit-linear-gradient(top, #0073d7 0%, #005bb0 100%);
        background: -o-linear-gradient(top, #0073d7 0%, #005bb0 100%);
        background: -ms-linear-gradient(top, #0073d7 0%, #005bb0 100%);
        background: linear-gradient(to bottom, #0073d7 0%, #005bb0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073d7', endColorstr='#005bb0', GradientType=0 );
    }
}