//////////////Custom select/////////////
.custom-select {
    border: none;
    display: inline-block;
    background: transperent;
    .custom-select__button {
        background: inherit;
        border: none;
    }
    .caret {
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 2px;
        vertical-align: middle;
        background: url("../img/ui/dropdown_caret.png");
        border: none;
    }
}

//////////////Header-search////////////
.searchbox {
    display: inline-block;
    height: 18px;
    line-height: 52px;
    .searchbox-input {
        box-sizing: border-box;
        border: 1px solid $main-color_gray-light;
        width: 0px;
        display: none;
    }
}
