$icon-font-path:"fonts/";
$fonts-path: 'fonts/';
$body-bg:#f7f7f7;
$main-color_gray:#333;
$main-color_gray-light:#bfbfbf;
$main-color_blue:#0055a6;
$grid-gutter-width:24px;
$header-height:101px;
$footer-height:102px;
$roboto:400 18px / 24px Roboto;
$roboto-light:300 18px / 24px Roboto;
$roboto-bold:700 14px / 14px Roboto;
$border-radius-base:0px;
$catalog-item__height:295px;
$catalog-item__width:196px;
$col-w-xl:239.656px;
$col-w-lg:263px;
$col-w-md:213px;
$col-w-sm:211px;
$col-w-xs:130px;
$img-path:"../img/";
