@import "_vars";
@import "_bootstrap.scss";
@import "_custom-ui-elements";
@import "_fonts";



*{
    font: 12px/24px mullerlight, arial;
    letter-spacing: 1px;
    color: $main-color_gray;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: $footer-height;
    >.container{
        margin-top:$header-height;
    }
}
a,a:visited{
    color: $main-color_gray;
}
a:hover{
   color:$main-color_blue;
   text-decoration: none; 
}

h1 {
    font: 40px/40px mullerlight;
}
.header-default{
    &::after{
        content: "";
        display: block;
        width: 100%;
        height:20px;
        
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
    >.container,>.container-fluid{
            background: #fff;
    }

}
.header-tel{
    height: 48px;
    border-bottom:1px solid #bdbdbd;
    text-align: center;
    text-transform: uppercase;
    >*{
        line-height: 48px;
    vertical-align: middle;
    }
}
.header-cart,.header-search-logo{
    
    height: 52px;
    padding-top: 17px;
}
.header-cart{
    display: inline-block;
    
    .header-cart__icon{
        width: 20px;
        height: 18px;
        background: url("../img/icons/icon-cart-header.png");
        display: inline-block;
        margin-right: 0px;
            @media (min-width: $screen-xs-min) {
                margin-right: 10px;
            }
            @media (min-width: $screen-sm-min) {
                margin-right: 30px;
            }
    }
    .header-cart__select{
        height: 18px;
        font-size: 18px;
        .custom-select__button,.custom-select__button .header-cart__select-label{
                height: 18px;
                font:bold 12px/24px mullermedium;
                text-transform: uppercase;
                color: $main-color_gray;
                line-height: 18px;
                vertical-align: top;
                padding: 0;

        }
        .dropdown-menu{
            left: auto;
            right: 0;
        }
        .caret{
            
        }
        .header-cart__select-label{
            display: inline-block;
            overflow: hidden;
            max-width: 85px;
            @media (min-width: $screen-sm-min) {
               max-width: 100%;
            }

        }
    }
}
.header-search-logo{
    .glyphicon{
        font-size: 18px;
        margin-right: 16px;
    } 
    .header-logo{
        display: inline-block;
        background: url("../img/logo-header.png");
        width:141px;
        height: 18px;
        
    }
}
.breadcrumbs{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 12px 0 50px 0;
    text-transform: uppercase;
    *{
            display: inline-block;
            font-size:16px;
            line-height: 16px;
    }
    >li::after{
            content: '/';
            display: inline-block;
            padding:0 10px;
    }
}
.catalog{
    
        
}
        .catalog-banner{
            
            height: 292px;
            border:1px solid #666;
                @media (min-width: $screen-xs-min) {
                    height: 613px;
                }
                @media (min-width: $screen-sm-min) {
                    height: 599px;
                }
        }
        .catalog-item__image{
            >a{

                display: block;
                overflow: hidden;
                margin: 0 auto;
                text-align: center;

                @media (min-width: $screen-xs-min) {
                    width: 219px;
                    height: 219px;
                    line-height: 219px;
                }
                @media (min-width: $screen-md-min) {
                    width: 212px;
                    height: 212px;
                    ine-height: 212px;
                }
                @media (min-width: $screen-lg-min) {
                    width: 262px;
                    height: 262px;
                    ine-height: 262px;
                }
                img{
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align: middle;
                }
            }
        }
        .catalog-item{
        margin-bottom:15px;
        font: 12px/24px mullerlight;
        .catalog-item__title{
            text-transform: uppercase;
        }
        .catalog-item__price{
            font: 14px/24px mullerbold;
        }
        .catalog-item__description{
            font: 12px/16px mullerlight;
            color: $main-color_gray-light;
        }
    }

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    >.container{
            padding-bottom: 109px; 
    padding-top: 77px;
        text-align: center;
    } 
    .region-selector{
        margin-bottom: 24px;
        .region-selector__label{
            font-weight: 200;
            color: $main-color_gray;
            margin: 0;
            padding: 0; 
        }
        #region-selector__select{
            font: bold 12px/24px mullermedium;
            line-height: 24px;
            cursor: pointer;
        }
    }
    .footer-links{
        list-style: none;
        padding: 0;
        .footer-links__item{
            display: inline-block;
            padding-left: 16px;
            a,a:visited{
                color:$main-color_gray-light;
            }
            a:hover{
                color: $main-color_blue;
            }
        }
        .footer-links__item::after{
            content: '/';
            display: inline-block;
            padding-left: 16px;
        }
        .footer-links__item:last-child:after{
            content: '';
        }
    }
    .footer-copyrights,.footer-copyrights span{
        color: $main-color_gray-light;
    }
}