@import "_vars";
@import "_bootstrap.scss";
@import "_custom-ui-elements";
@import "_fonts";



*{
    font: 12px/24px mullerlight, arial;
    letter-spacing: 1px;
    color: $main-color_gray;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: $footer-height;
    >.container{
        margin-top:$header-height;
    }
}
a,a:visited{
    color: $main-color_gray;
}
a:hover{
   color:$main-color_blue;
   text-decoration: none; 
}

h1 {
    font: 40px/40px mullerlight;
}
.header-tel{
    height: 48px;
    border-bottom:1px solid #bdbdbd;
    text-align: center;
    text-transform: uppercase;
    >*{
        line-height: 48px;
    vertical-align: middle;
    }
}
.header-bottom{
    height: 52px;
}
.header-logo{
    background: url();
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    >.container{
            padding-bottom: 109px; 
    padding-top: 77px;
        text-align: center;
    } 
    .region-selector{
        margin-bottom: 24px;
        .region-selector__label{
            font-weight: 200;
            color: $main-color_gray;
            margin: 0;
            padding: 0; 
        }
        #region-selector__select{
            font: bold 12px/24px mullermedium;
            line-height: 24px;
            cursor: pointer;
        }
    }
    .footer-links{
        list-style: none;
        .footer-links__item{
            display: inline-block;
                padding-left: 16px;
            a,a:visited{
                color:$main-color_gray-light;
            }
            a:hover{
                color: $main-color_blue;
            }
        }
        .footer-links__item::after{
            content: '/';
            display: inline-block;
            padding-left: 16px;
        }
        .footer-links__item:last-child:after{
            content: '';
        }
    }
    .footer-copyrights,.footer-copyrights span{
        color: $main-color_gray-light;
    }
}