@import "_vars";
@import "_bootstrap.scss";
@import "_bootstrap-sass-xl.scss";
@import "_custom-ui-elements";
@import "_fonts";
@import "_mixins";

html {
    position: relative;
    min-height: 100%;
}

body {
    font: $roboto;
    color: $main-color_gray;
    margin-bottom: $footer-height;
    >.container {
        margin-top: $header-height;
    }
}

a,
a:visited {
    color: $main-color_gray;
}

a:hover {
    color: $main-color_blue;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #333333;
    font: 400 22px / 26px Roboto;
}

.container {
    padding-left: 40px!important;
    padding-right: 40px!important;
    @media (min-width: $screen-sm-min) {
            padding-left: 64px!important;
            padding-right: 64px!important;
    }
}

.header-default {
    background-color: $body-bg;
    >.container {
        background-color: $body-bg;
    }
    >.container-fluid {
        background: #fff;
    }
}

.header-tel {
    height: 48px;
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
    color: #878787;
    >* {
        line-height: 48px;
        vertical-align: middle;
        font: 400 14px / 48px Roboto;
    }
    strong {
        font: $roboto-bold;
    }
}

.header-cart,
.header-search-logo {
    height: 52px;
    padding-top: 17px;
}

.header-search-logo {
    position: relative;
    a.header-search-icon,
    a.header-search-icon:visited,
    a.header-search-icon:hover {
        text-decoration: none;
    }
    .glyphicon {
        font-size: 18px;
        position: absolute;
        left: -30px;
        @media (min-width: $screen-sm-min) {
            left: -41px;
            }
        top: 15px;
        color: $main-color_blue;
    }
    .header-logo {
        display: inline-block;
        background: url($img-path+"logo-header.png");
        width: 141px;
        height: 18px;
    }
}

.header-cart {
    display: inline-block;
    .header-cart__icon {
        width: 22px;
        height: 17px;
        background: url($img-path+"icons/icon-cart-header.png") center no-repeat;
        @include image-2x($img-path+"icons/icon-cart-header@2x.png", 22px, 17px);
        display: inline-block;
        margin-right: 0px;
        @media (min-width: $screen-xs-min) {
            margin-right: 10px;
        }
        @media (min-width: $screen-sm-min) {
            margin-right: 31px;
        }
    }
    .header-cart__select {
        height: 18px;
        font-size: 18px;
        .custom-select__button,
        .custom-select__button .header-cart__select-label {
            height: 18px;
            color: $main-color_blue;
            line-height: 18px;
            vertical-align: top;
            padding: 0;
        }
        .dropdown-menu {
            left: auto;
            right: 0;
        }
        .caret {}
        .header-cart__select-label {
            display: inline-block;
            overflow: hidden;
            max-width: 85px;
            @media (min-width: $screen-sm-min) {
                max-width: 100%;
            }
        }
    }
}

.breadcrumbs {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 12px 0 50px 0;
    color: #0055a6;
    font: 400 22px / 26px Roboto;
    *,
    a {
        display: inline-block;
        color: #0055a6;
        font: 400 22px / 26px Roboto;
    }
    >li>a:visited {
        text-decoration: none;
    }
    >li::after {
        content: '/ ';
        display: inline-block;
    }
}

.catalog {
    @media (min-width: $screen-xs-min) {
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }
    @media (min-width: $screen-sm-min) {}
}

.catalog-banner {
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 0.96px 0.04px rgba(26, 27, 30, 0.33);
    &:hover {
        box-shadow: 0px 3px 6px 0px #b3b3b3;
    }
    height: $catalog-item__height*2+18px;
    // border: 1px solid #666;
    & {
         
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        >img {
            min-width: 100%;
            min-height: 100%;
            vertical-align: middle;
        }
    }
    @media (min-width: $screen-xs-min) {}
    @media (min-width: $screen-sm-min) {}
}

.catalog-item__image {
    width: 100%;
    height: 203px;
    line-height: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    @media (min-width: $screen-xs-min) {}
    @media (min-width: $screen-md-min) {}
    @media (min-width: $screen-lg-min) {}
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
}

.catalog-item {
    box-shadow: 0px 2px 0.96px 0.04px rgba(26, 27, 30, 0.33);
    &:hover {
        box-shadow: 0px 3px 6px 0px #b3b3b3;
    }
    background-color: #ffffff;
    margin-bottom: 15px;
    width: $catalog-item__width;
    height: $catalog-item__height;
    margin: 0 auto 18px;
    .catalog-item__title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $main-color_blue;
        padding: 10px 17px 0px;
    }
    .catalog-item__price {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $main-color_gray;
        font: $roboto-bold;
        font-size: 18px;
        line-height: 24px;
        padding: 0 17px;
        .old-price {
            color: #878787;
            font: 300 18px / 24px Roboto;
            text-decoration: line-through;
        }
    }
    .catalog-item__description {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #878787;
        font: $roboto;
        font-size: 14px;
        line-height: 24px;
        padding: 0 17px;
        >* {
            font: $roboto;
            font-size: 14px;
            line-height: 24px;
        }
        .discount {
            color: #f88901;
        }
        .gift {
            color: #3daf2c;
        }
    }
}

.catalog.catalog-viewed .catalog-item {
    width: 100%;
    height: auto;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
    background-color: transparent;
    margin: 0 auto 18px;
    .catalog-item__image {
        max-width: 135px;
        max-height: 135px;
        margin: 0 auto;
        >img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    .catalog-item__description {
        color: #0055a6;
        font: 400 18px / 24px Roboto;
    }
}
.category{
    
    &>div{
        padding: 1px;
    }
    .category-item {
        text-align: center;
        overflow: hidden;
        @media (min-width: $screen-xs-min) {height: $col-w-xs;}
        @media (min-width: $screen-sm-min) {height: $col-w-sm;}
        @media (min-width: $screen-md-min) {height: $col-w-md;}
        @media (min-width: $screen-lg-min) {height: $col-w-lg;}
        @media (min-width: $screen-xl-min) {height: $col-w-xl;}
    
        img {
            min-width: 100%;
            min-height: 100%;
            @include vertical-align();
        }
        width:100%;
        height: auto;
 
        &.hx2 {
            @media (min-width: $screen-xs-min) {height: $col-w-xs*2;}
            @media (min-width: $screen-sm-min) {height: $col-w-sm*2;}
            @media (min-width: $screen-md-min) {height: $col-w-md*2;}
            @media (min-width: $screen-lg-min) {height: $col-w-lg*2;}
            @media (min-width: $screen-xl-min) {height: $col-w-xl*2;}
        }
        .category-item__title {
            color: #ffffff;
            font: 300 40px / 48px Roboto;
            position: absolute;
            bottom: 2%;
            left: 2%;
        }
        }
    
    
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    >.container {
        // padding-bottom: 109px;
        padding-top: 20px;
        text-align: center;
    }
    .region-selector {
        margin-bottom: 24px;
        .region-selector__label {
            font-weight: 200;
            color: $main-color_gray;
            margin: 0;
            padding: 0;
        }
        #region-selector__select {
            font: bold 12px/24px mullermedium;
            line-height: 24px;
            cursor: pointer;
        }
    }
    .footer-links {
        list-style: none;
        padding: 0;
        .footer-links__item {
            display: inline-block;
            padding-left: 30px;
            a,
            a:visited {
                color: #878787;
                font: 300 14px / 18px Roboto;
            }
            a:hover {
                color: $main-color_blue;
            }
        }
        //        .footer-links__item::after {
        //            content: '/';
        //            display: inline-block;
        //            padding-left: 16px;
        //        }
        .footer-links__item:last-child:after {
            content: '';
        }
    }
    .footer-copyrights,
    .footer-copyrights span {
        color: #878787;
        font: 300 14px / 18px Roboto;
    }
}